/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }  

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



    @font-face {
        font-family: 'Amatic SC';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/amaticsc/v24/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }


      body, html {height: 100%}
      body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
   
    h1, h2, h3, h4, h5, h6 {
        overflow-wrap: normal;
    }

      .centered {
        position: absolute;
        top: 190px; ;
        left: 50%;
        font-size: 70px;
        transform: translate(-50%, -50%); }
      
    .topnav {
        background-color: rgb(201, 145, 248);
        overflow: hidden; 
      }
        
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 10px;
    }

    .topnav a:hover {
        background-color: rgb(237, 112, 216);
        color: black;
    }

    .topnav a.active {
        background-color: #8e34f5;
        color: white;
      }

      footer {
        text-align: center;
        padding: 3px;
        background-color: rgb(255, 213, 251);
        color: rgb(255, 143, 210);
      }


      .flex-container {
          display: flex;
          background-color: #ffffff;
      }
        
      
      .flex-container >div {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #ffc9fb;
        padding: 90px;
        width: 500px;
        color: #000000;
        text-align: center;
        font-size: 25px;
      }

      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }

